{% extends 'base.html' %}
{% block title %}Movie{% endblock %}
{% block body %}
<div class="container">
    <div class="row mb-5">
        {% for i in movie %}
        <div class="col-md-4 mb-4">
            <div class="card bg-dark text-white mt-2 border border-secondary shadow mt-4"
                 style="width: 18rem;height: 23rem;">
                <img class="card-img-top img-fluid" src=" {{i.image.url}}" alt="Card image cap" style="height: 16rem;object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <a href="{% url 'movieapp:details' i.id %}" class="btn btn-dark text-center me-4"
                       style="background-color: darkorange;position: absolute;right: 0;">View details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

